<!-- <div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">>
      </div>
    </div>
    <div class="auth-side-form">
      <form (ngSubmit)="submit()" [formGroup]="forgotForm">
        <div class=" auth-content">
          <h4 class="mb-3 f-w-900">Forgot your password</h4>
          <div class="input-group mb-4">
            <input type="email" class="form-control" placeholder="Email address" formControlName="sEmail">
          </div>
          <div *ngIf="isValidInput('sEmail')" class="alert alert-danger">
            <div *ngIf="forgotForm.controls['sEmail'].errors.required">Email is required. </div>
            <div *ngIf="forgotForm.controls['sEmail'].errors.pattern"> Must be a valid email format.</div>
          </div>

          <button class="btn btn-block btn-primary mb-4" [disabled]="!forgotForm.valid">
            <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>{{showLoader? '' : 'Reset Password'}}</button>
          <p class="mb-2 text-muted">Back To <a [routerLink]="['/auth/sign-in']" class="f-w-400">Signin</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div class="main">
    <div class="auth-wrapper">
        <div class="auth-content mt-5">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <img src="assets/images/logo.png" alt="" class="img-fluid mb-4" height="60" width="60">
                            <h4 class="mb-3 f-w-400">Forgot your password</h4>
                            <form (ngSubmit)="submit()" [formGroup]="forgotForm">
                                <div class="input-group mb-4">
                                    <input type="email" class="form-control" placeholder="Email address"
                                        formControlName="sEmail">
                                </div>
                                <div *ngIf="isValidInput('sEmail')" class="alert alert-danger">
                                    <div *ngIf="forgotForm.controls['sEmail'].errors.required">Email is required. </div>
                                    <div *ngIf="forgotForm.controls['sEmail'].errors.pattern"> Must be a valid email
                                        format.</div>
                                </div>

                                <button class="btn btn-block btn-primary mb-4" [disabled]="!forgotForm.valid">
                                    <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>{{showLoader? '' : 'Reset
                                    Password'}}</button>
                                <p class="mb-2 text-muted">Back To <a [routerLink]="['/auth/sign-in']"
                                        class="f-w-400">Signin</a>
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>